//- Base field
//- 
//- Accepted arguments:
//- * type (optional, defaults to "button")
//- * label

mixin button(args)
	button.btn(
		type=args.type ? args.type : 'button'
		class=attributes.class ? attributes.class : 'btn-primary')= args.label

