//- Button
//- 
//- Accepted arguments:
//- * type (String) : defaults to "button"
//- * buttonlabel (String)

mixin button(args)
	button.btn(
		type=args.type ? args.type : 'button'
		class=attributes.class ? attributes.class : 'btn-default')= args.buttonlabel

