//- Character field
//- 
//- Display a character left of the field
//- eg; "$" to indicate context to the user
//- 
//- Accepted arguments:
//- * character (String)
//- * field args (type, name, value, placeholder)

include field

mixin character-field(args)
	.character-field
		span.character= args.character
		+field(args)
