//- Icon field
//- 
//- Display an icon left of the field to indicate context to the user
//- eg; "ion-social-twitter" from the amazing ionicons.com
//- 
//- This was built for icon fonts though should work fine with sprited images
//- 
//- Accepted arguments:
//- * icon (String)
//- * field args (type, name, value, placeholder)

include field

mixin icon-field(args)
	.icon-field
		span(class=args.icon).icon
		+field(args)
