//- Base field with a label
//- 
//- Used inside '.form-horizontal' to display a label left of the field
//- 
//- Accepted arguments:
//- * label (String)
//- * field args (name, info)

include upload

mixin labelled-upload(args)
	.form-group
		label(for=attributes.id ? attributes.id : null).col-sm-3= args.label
		.col-sm-9
			+upload(args)(id=attributes.id,class=attributes.class)
