include unlabelled-radio-group

mixin labelled-radio-group(args)
	.form-group
		label(for=attributes.id ? attributes.id : null).col-sm-3= args.label
		.col-sm-9
			+unlabelled-radio-group(args)(id=attributes.id,class=attributes.class)
			if args.info
				.form-info= args.info


