//- Address field with label
//- 
//- Used inside '.form-horizontal' to display a label left of the field
//- 
//- Accepted arguments:
//- * label (String)
//- * field args (name, value)

include address-field

mixin labelled-address-field(args)
	.form-group
		label(for=attributes.id ? (attributes.id + '_street1') : null).col-sm-3!= args.label
		.col-sm-9
			+address-field(args)(id=attributes.id, class=attributes.class)
