//- Read only field
//- 
//- Seems redundant but it makes things tidier
//- 
//- Accepted arguments:
//- * label (String)
//- * value (String)
//- * url (String) [optiona]

mixin labelled-readonly-field(args)
	.form-group
		.col-sm-3!= args.label
		.col-sm-9
			if args.url
				a(href=args.url, title='View the ' + args.label, id=attributes.id ? attributes.id : null, class=attributes.class ? attributes.class : null)= args.value
			else
				span(id=attributes.id ? attributes.id : null, class=attributes.class ? attributes.class : null)= args.value
