//- Address field with label
//- 
//- Used inside '.form-horizontal' to display a label left of the field
//- 
//- Accepted arguments:
//- * label
//- * field args (name, value)

include address-field

mixin labelled-address-field(args)
	.form-group
		label(for=attributes.id ? attributes.id : null).col-sm-3= args.label
		.col-sm-9
			+address-field(args)
			if args.info
				.form-info= args.info
