//- Base field with a label
//- 
//- Used inside '.form-horizontal' to display a label left of the textarea
//- 
//- Accepted arguments:
//- * label (String)
//- * textarea args (name, value, placeholder)

include textarea

mixin labelled-textarea(args)
	.form-group
		label(for=attributes.id ? attributes.id : null).col-sm-3!= args.label
		.col-sm-9
			+textarea(args)(id=attributes.id,class=attributes.class)
			if args.info
				.form-info= args.info
