//- Textarea
//- 
//- Accepted arguments:
//- * name (String)
//- * value (String)
//- * placeholder (String)

mixin textarea(args)
	textarea.form-control(
		name=args.name ? args.name : null
		placeholder=args.placeholder ? args.placeholder : null
		class=attributes.class
		id=attributes.id)= args.value ? args.value : null
