//- Base upload
//- 
//- Accepted arguments:
//- * type
//- * name
//- * (attributes)

mixin upload(args)
	.field-upload
		input(
			type='file'
			name=args.name ? args.name : null
			class=attributes.class
			id=attributes.id)


