//
// Fields
// ==============================

// Extends Bootstrap's arsenal
@import "bootstrap/mixins.less";
@import "bootstrap/forms.less";



// Misc
// -------------------------


// bootstrap uses chubby labels

label {
	font-weight: normal;
}


// stop users pulling the textarea out of it's column
// and provide some room to write

textarea {
	.resizable(vertical);
	min-height: 80px;
}


// properly align your label to the text inside the input field

.form-horizontal .form-group > label {
	padding-top: @padding-base-vertical;
}


// when you need to give your users' a helping hand

.form-info {
	color: #999;
	font-size: .85em;
	margin-top: 5px;
	margin-bottom: 0px;
}




// Controls
// -------------------------


// base

.form-control {
	color: @text-color;
	font-size: inherit;
	-webkit-appearance: none;
}


// helpers

.full-width {
	width: 100%;
}


// alternative to '.form-group' use when inside '.form-horizontal' to avoid 
// your container becoming a row

.form-control-wrapper {
	margin-bottom: 1em;
}


// use as an alternative to ".row" for form columns to avoid the _huge_ gap

.form-control-row {
	.clearfix();
	margin-left: -5px;
	margin-right: -5px;
	
	
	// whilst this selector performs poorly it's not a big deal in small apps
	
	[class^='col-'] {
		padding-left: 5px;
		padding-right: 5px;
	}
}


// optimal font size for browser buttons

.form-control--upload {
	font-size: 13px;
	padding-top: @padding-base-vertical;
}


// define widths for fields inside '.form-inline'
// browsers default to ~150px

.field-inline-xs { width: 50px; }
.field-inline-sm { width: 100px; }
.field-inline-md { width: 200px; }
.field-inline-lg { width: 300px; }
.field-inline-xl { width: 400px; }




// Icon & Character Fields
// ------------------------------


// setup

.icon-field,
.character-field {
	position: relative;
	
	.icon {
		.translate(0,-50%);
		color: @input-color-placeholder;
		left: @padding-base-horizontal;
		position: absolute;
		pointer-events: none;
		text-align: center;
		top: 50%;
		width: @padding-base-horizontal;
	}
}


// icon field

.icon-field {
	.form-control {
		padding-left: ceil(@font-size-base * 1.5) + @padding-base-horizontal;
	}
	.icon {
		left: @padding-base-horizontal;
	}
}


// character field

.character-field {
	.form-control {
		padding-left: @padding-base-horizontal + (@padding-base-horizontal / 2);
	}
	.character {
		left: @padding-base-horizontal / 2;
	}
}



